<a href="https://colab.research.google.com/github/pythmipt/SpamFilter/blob/main/Rustam_Musin_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Занятие 31. Домашнее задание. Работа над проектами

In [1]:
import pandas as pd

## Описание проекта
**Название проекта** -   

 **Цель** — получить конечный продукт или результат (статья…)  


**Введение**: основные положения, назначение проекта,  команда


**Актуальность** : кому проект полезен,  что достигаем, меняем, улучшаем его реализацией  

**Целевая аудитория** 

**Обзор аналогов и прототипов**: есть ли существующие решения? Чем ваше отличается от остальных?

**Выбор инструментальных средств**: в этом разделе обосновываем свой выбор инструментов разработки;


 **Сроки**  — дата начала проекта и дата его окончания  

        График выполнения проекта

 **Ресурсы:**  трудовые, финансовые, оборудование,  информация.

## Аннотация  проекта

При составлении аннотации придерживайтесь плана:

**Название** (помимо текста желательно и логотип); 

**Описание** (с использованием слов и изображений); 

**Демо** (изображения, ссылки на видео, интерактивные демо-ссылки); 

**Технологии в проекте**; 

**Специфика**, что-то характерное для проекта (проблемы, с которыми пришлось столкнуться, уникальные составляющие проекта); 

**Техническое описание** проекта (установка, настройка).

In [17]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [18]:
df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1, inplace=True)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [20]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [21]:
df.replace({'ham': 0, 'spam': 1}, inplace=True)
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...